<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Session</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>

  <filter>
    <filter-name>Set Character Encoding</filter-name>
    <filter-class>org.apache.catalina.filters.SetCharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
    <init-param>
      <param-name>ignore</param-name>
      <param-value>false</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>Set Character Encoding</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <filter>
        <filter-name>PrechargementFilter</filter-name>
        <filter-class>fr.commerce.filters.PrechargementFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>PrechargementFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
  
  <servlet>
    <servlet-name>first.jsp</servlet-name>
    <jsp-file>/WEB-INF//first.jsp</jsp-file>
  </servlet>
    <servlet-mapping>
    <servlet-name>first.jsp</servlet-name>
    <url-pattern>/first</url-pattern>
  </servlet-mapping>
  
  <jsp-config>
    <jsp-property-group>
      <url-pattern>*.jsp</url-pattern>
      <include-prelude>/inc/inc_taglibs.jsp</include-prelude>
    </jsp-property-group>
    <jsp-property-group>
      <url-pattern>/WEB-INF/*</url-pattern>
      <include-prelude>/inc/inc_menu.jsp</include-prelude>
      <include-prelude>/inc/inc_links_scripts.jsp</include-prelude>
    </jsp-property-group>
  </jsp-config>
</web-app>