<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Session</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
 <listener>
    <listener-class>fr.commerce.config.InitialisationDaoFactory</listener-class>
</listener> 
  <filter>
    <filter-name>Set Character Encoding</filter-name>
    <filter-class>org.apache.catalina.filters.SetCharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
    <init-param>
      <param-name>ignore</param-name>
      <param-value>false</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>Set Character Encoding</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <filter>
        <filter-name>PrechargementFilter</filter-name>
        <filter-class>fr.commerce.filters.PrechargementFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>PrechargementFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
  
  <servlet>
    <servlet-name>first.jsp</servlet-name>
    <jsp-file>/WEB-INF//first.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>CreationClient</servlet-name>
    <servlet-class>fr.commerce.servlets.CreationClient</servlet-class>
    <init-param>
      <param-name>chemin</param-name>
      <param-value>/workspace/app_files/</param-value>
    </init-param>
    <multipart-config>
      <location>S:\workspace\tmp\</location>
      <max-file-size>1048576</max-file-size>
      <max-request-size>52428800</max-request-size>
      <file-size-threshold>1048576</file-size-threshold>
    </multipart-config>
  </servlet>
  <servlet>
    <servlet-name>CreationCommande</servlet-name>
    <servlet-class>fr.commerce.servlets.CreationCommande</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ListeClients</servlet-name>
    <servlet-class>fr.commerce.servlets.ListeClients</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ListeCommandes</servlet-name>
    <servlet-class>fr.commerce.servlets.ListeCommandes</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SuppressionClient</servlet-name>
    <servlet-class>fr.commerce.servlets.SuppressionClient</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SuppressionCommande</servlet-name>
    <servlet-class>fr.commerce.servlets.SuppressionCommande</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>first.jsp</servlet-name>
    <url-pattern>/first</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CreationClient</servlet-name>
    <url-pattern>/creationClient</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CreationCommande</servlet-name>
    <url-pattern>/creationCommande</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ListeClients</servlet-name>
    <url-pattern>/listeClients</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ListeCommandes</servlet-name>
    <url-pattern>/listeCommandes</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SuppressionClient</servlet-name>
    <url-pattern>/suppressionClient</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SuppressionCommande</servlet-name>
    <url-pattern>/suppressionCommande</url-pattern>
  </servlet-mapping>

  <jsp-config>
    <jsp-property-group>
      <url-pattern>*.jsp</url-pattern>
      <include-prelude>/inc/inc_taglibs.jsp</include-prelude>
    </jsp-property-group>
    <jsp-property-group>
      <url-pattern>/WEB-INF/*</url-pattern>
      <include-prelude>/inc/inc_menu.jsp</include-prelude>
      <include-prelude>/inc/inc_links_scripts.jsp</include-prelude>
    </jsp-property-group>
  </jsp-config>
</web-app>